html, body {
  height: 100%;
  width: 100%;
}

#wrapper {
	padding-top: 75px;
	padding-bottom: 25px;
}

.intro-header {
    text-align: center;
    background: url(background.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
	color: white;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	color: white;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.section-heading {
    margin-bottom: 30px;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(banner.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
	color: white;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

p.copyright {
    margin-top: 15px;
	margin-bottom: 15px;
}